doctype html
html
    head
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap" rel="stylesheet")
        link(href='/style.css' rel="stylesheet")
        link(rel="shortcut icon" type="image/png" href="/img/favicon.png")
    body
        title #{title}
        h1 #{title}
        block content
        script(src="/signInUpValidation.js")