extends parentLayout

block content
    if !areAnySavedRatings
        p No records saved for this student yet. Come back later
    else
        each record in ratings
            div(class="studentNotes")
                p Date Logged: #{record.ratingDate}
                p Rating: #{record.numberRating}
                p Any Notes: #{record.note}