doctype html
html
    head
        link(href='/style.css' rel="stylesheet")
    body
        div(id="parentSideNav" class="sideNav")
            a(href="javascript:void(0)" class="closeBtn") &times;
            a(href="/parent/home") Home
            a(href="/parent/recordLog") Record Log
            a(href="/parent/emailForm") Send an Email
            a(href="/parent/chatroom") Chat with your Teacher

        div(id="parentMain")
            span(class="burgerIcon") &#9776;
            title #{title}
            h1 #{title}
            block content
            script(src="/parentBackend.js")