extends layout

block content
    p
        strong Email: <br/>
            input(type="text" id="signInEmail")
    p        
        strong Password: <br/>
            input(type="text" id="signInPassword")
    p
        strong I am signing in as a: <br/>

        <input type="radio" name="signInDescription" value="teacher" id="signInAsTeacher">
        <label for="teacher"> Teacher <br/>

        <input type="radio" name="signInDescription" value="parent" id="signInAsParent">
        <label for="parent"> Parent <br/>
    
    p
        input(type="submit" value="Sign In")
    
    a(href="/signUp") Or sign up if you don't have an account