doctype html
html
    head
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap" rel="stylesheet")
        link(href='/style.css' rel="stylesheet")
        link(rel="shortcut icon" type="image/png" href="/img/favicon.png")
        title #{title}

    body
        div(id="teacherSideNav" class="sideNav")
            a(href="javascript:void(0)" class="closeBtn") &times;
            a(href="/teacher/home") Home
            a(href="/teacher/addStudent") Add Student
            a(href="/teacher/chatMenu") Chatroom Menu
            a(href="/logout") Log Out

        div(id="teacherMain")
            div(class="topBar")
                span(class="burgerIcon") &#9776;
                h1 #{title}
            block content
            script(src="/teacherBackend.js")