extends teacherLayout

block content
    form(method="POST" action="" onsubmit="return checkEditStudent()")
        p
            strong First Name: <br/>
                input(type="text" id="createStudentFName" name="fName" value=student.firstName)
        p        
            strong Last Name: <br/>
                input(type="text" id="createStudentLName" name="lName" value=student.lastName)
        p
            input(type="submit" value="Save")
    //- form(method="DELETE")
    //-     p
    //-         input(type="submit" value="Delete Student")  
    a(href=`/teacher/deleteStudent/${student.studentId}`) Delete Student