extends layout

block content
    form(method="PUT" action="" onsubmit="return checkEditStudent()")
        p
            strong First Name: <br/>
                input(type="text" id="createStudentFName" name="fName" value="")
        p        
            strong Last Name: <br/>
                input(type="text" id="createStudentLName" name="lName" value="")
        p
            input(type="submit" value="Save")
    form(method="DELETE")
        p
            input(type="submit" value="Delete Student")  