extends teacherLayout

block content
    h3 Today's Date: #{date}
    if isEmptyClass
        p You don't have any students in your class. Add some students to get started.
    else
        table
            tr
                th Name
                th Parent Code
                th Rating
                th Notes
            //- Replace tr with foreach loop going through teacher's class
            each student in myClass
                tr
                    td #{student.firstName} #{student.lastName}
                    td #{student.parentCode}
                    td 10
                    td Doing well
                    td
                        a(href="/teacher/editStudent/" + student.studentId) Edit
    