extends layout

block content
    //- Replace fake date with real one
    h3 Today's Date: October 22, 2020
    table
        tr
            th Name
            th Parent Code
            th Rating
            th Notes
        //- Replace tr with foreach loop going through teacher's class
        tr
            td Test1
            td 1111111
            td 10
            td Doing well
    